.light{
    background-color: #fff;
    color:#2196f3
}
.dark
{
    background-color: #324148;
    color:white;
    border-color: white;
}

.darkCalendar{
    color:white;
}
.lightCalendar{
    color:black;
}
.modeButtonActive, .calendarHeaderButtons
{
   color:#2196F3
}

.dayText
{
    height: 40px;
    width: 40px;
    font-size: 15px;
    font-weight: bold;
}

.dailyEventWrapper
{
    cursor: pointer;
}
